In [70]:
import pandas as pd
import glob
import os

#change path
directory_path = r'C:\Users\prabh\OneDrive\Desktop\IPL_Auction\combined_data_per_year'

csv_files = glob.glob(os.path.join(directory_path, '*.csv'))
dataframes = []

for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    dataframes.append(df)

final_df = pd.concat(dataframes, ignore_index=True)
print(final_df)

                PLAYER           TYPE    PRICE PAID  \
0       Faf Du Plessis        Batsman   4,75,00,000
1         Dwayne Smith        Batsman   4,50,00,000
2     Brendon McCullum  Wicket Keeper   3,25,00,000
3         Ashish Nehra         Bowler   2,00,00,000
4         Mohit Sharma         Bowler   2,00,00,000
...                ...            ...           ...
1080        Tom Curran    All-Rounder   1,50,00,000
1081    Saurav Chuahan         Batter     20,00,000
1082    Alzarri Joseph         Bowler  11,50,00,000
1083     Swapnil Singh    All-Rounder     20,00,000
1084       Yash  Dayal         Bowler   5,00,00,000

                             Team  Year
0                               0  2014
1                               0  2014
2                               0  2014
3                               0  2014
4                               0  2014
...                           ...   ...
1080  Royal Challengers Bangalore  2024
1081  Royal Challengers Bangalore  2024
1082  Royal Challengers Bangalore  2024
1083  Royal Challengers Bangalore  2024
1084  Royal Challengers Bangalore  2024

[1085 rows x 5 columns]

In [71]:
my_dict = {
    0: 'Chennai Super Kings',
    1: 'Delhi Daredevils',
    2: 'Kings XI Punjab',
    3: 'Kolkata Knight Riders',
    4: 'Mumbai Indians',
    5: 'Rajasthan Royals',
    6: 'Royal Challengers Bangalore',
    7: 'Sunrisers Hyderabad'
}

In [72]:
my_dict1617 = {
    'Chennai Super Kings': 'Delhi Daredevils',
    'Delhi Daredevils': 'Gujarat Lions',
    'Rajasthan Royals': 'Rising Pune Supergiant'
    
}

In [73]:
final_df['Team'] = final_df['Team'].apply(lambda x: my_dict.get(x, x))
final_df

,PLAYER,TYPE,PRICE PAID,Team,Year
0,Faf Du Plessis,Batsman,"4,75,00,000",Chennai Super Kings,2014
1,Dwayne Smith,Batsman,"4,50,00,000",Chennai Super Kings,2014
2,Brendon McCullum,Wicket Keeper,"3,25,00,000",Chennai Super Kings,2014
3,Ashish Nehra,Bowler,"2,00,00,000",Chennai Super Kings,2014
4,Mohit Sharma,Bowler,"2,00,00,000",Chennai Super Kings,2014
...,...,...,...,...,...
1080,Tom Curran,All-Rounder,"1,50,00,000",Royal Challengers Bangalore,2024
1081,Saurav Chuahan,Batter,"20,00,000",Royal Challengers Bangalore,2024
1082,Alzarri Joseph,Bowler,"11,50,00,000",Royal Challengers Bangalore,2024
1083,Swapnil Singh,All-Rounder,"20,00,000",Royal Challengers Bangalore,2024
1084,Yash Dayal,Bowler,"5,00,00,000",Royal Challengers Bangalore,2024

In [74]:
final_df['Team'] = final_df.apply(
    lambda row: my_dict1617.get(row['Team'], row['Team']) if row['Year'] == 2016 else
                my_dict1617.get(row['Team'], row['Team']) if row['Year'] == 2017 else
                row['Team'],
    axis=1
)
final_df

,PLAYER,TYPE,PRICE PAID,Team,Year
0,Faf Du Plessis,Batsman,"4,75,00,000",Chennai Super Kings,2014
1,Dwayne Smith,Batsman,"4,50,00,000",Chennai Super Kings,2014
2,Brendon McCullum,Wicket Keeper,"3,25,00,000",Chennai Super Kings,2014
3,Ashish Nehra,Bowler,"2,00,00,000",Chennai Super Kings,2014
4,Mohit Sharma,Bowler,"2,00,00,000",Chennai Super Kings,2014
...,...,...,...,...,...
1080,Tom Curran,All-Rounder,"1,50,00,000",Royal Challengers Bangalore,2024
1081,Saurav Chuahan,Batter,"20,00,000",Royal Challengers Bangalore,2024
1082,Alzarri Joseph,Bowler,"11,50,00,000",Royal Challengers Bangalore,2024
1083,Swapnil Singh,All-Rounder,"20,00,000",Royal Challengers Bangalore,2024
1084,Yash Dayal,Bowler,"5,00,00,000",Royal Challengers Bangalore,2024

In [76]:
final_df.to_excel('Final_Data.xlsx', index=False)